.mode-input > * {
    cursor: pointer !important;
}

.mode > * {
    margin-right: 8px;
}

.form-check {
     padding-left: 0;
}

.button-controls {
    margin-top: 20px;
}

.validity {
    text-align: center;
    margin-top: 20px;
}

.validity .error {
    color: red;
    font-weight: bold;
}